ion-thumbnail {
  --size: 150px;
}

ion-fab-button {
  --border-width: 2px;
  --border-color: var(--ion-color-dark);
  --border-style: solid;
}

ion-fab.fab-vertical-top.fab-edge {
  top: -20px;
}

ion-fab.fab-horizontal-end {
  right: calc(-17px + var(--ion-safe-area-right, 0px));
}
